<%# TODO: place details page %>
<h1><%= @place["name"] %> </h1>

<% posts = Post.where({"place_id" => @place["id"]}) %>
<h4>You have <%= posts.count %> posts from <%= @place["name"] %>. </h4>

<ul>
  <% for post in posts %>
    <p> <h2> <a href='/posts/<%= post["id"] %>'>
        <%= post["title"] %> </a> </h2>
      <h5> <%= post["posted_on"]%> </h5>
      <h3> <%= post["description"]%> </h3>
    </p>
  <% end %>
</ul>

<a href="/posts/new?place_id=<%=@place["id"]%>"> Add post for <%=@place["name"]%>
</a>
<br>
<br>
<a href="/places"> Back to list of places </a>